:root {
  --mvpb-nav-height: 110px;
  --mvpb-border-radius: 0.8rem;
  --theme-background-color: var(--mvpb-color-light, #ffffff);
  --page-screen-background: var(--mvpb-color-primary, #ffffff);
}

*,
*::before,
*::after {
  margin: 0;
  font-weight: normal;
  outline: none;
}

#__nuxt {
  position: relative;
}

#__nuxt,
body,
html {
  min-height: 100dvh;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s ease;
  background-color: var(--mvpb-color-light);
  font-family: var(--mvpb-font-primary-regular);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

.grecaptcha-badge {
  display: none !important;
}

.container {
  position: relative;
}

.section:first-child {
  padding-top: calc(var(--mvpb-nav-height) * 1.6) !important;
}
