@use "sass:map";

$breakpoints: (
  mobile: 320px,
  mobileMedium: 375px,
  mobileWide: 425px,
  tablet: 768px,
  desktop: 1024px,
  desktopMedium: 1280px,
  desktopWide: 1600px,
);

@function breakpoint($key) {
  @return map.get($breakpoints, $key);
}
