$colors-map: (
  primary: #71e200,
  primary-light: #a4f25f,
  primary-dark: #4fc900,
  secondary: #99cf63,
  secondary-light: #bae289,
  secondary-dark: #77b248,
  tertiary: #45a7de,
  tertiary-light: #7ec7f2,
  tertiary-dark: #2f8ebf,
  quaternary: #ea5f38,
  quaternary-light: #f18e6b,
  quaternary-dark: #c94a2b,
  salmon-fish: #ffa66e,
  evening: #4255bd,
  mint: #a1cfb6,
  sunshine: #ffe261,
  dark: #010205,
  light: #ffffff,
  dark-black: #000000,
  deep-grey: #3f3f3f,
  grey-10: #878c91,
  grey-20: #b0b0b0,
  grey-30: #c9c9c9,
  grey-40: #dcdcdc,
  grey-50: #eaeaea,
  grey-60: #f5f5f5,
  grey-600: #13151d,
  grey-700: #333647,
  grey-800: #22242f,
  grey-900: #717384,
);

:root {
  @each $key, $value in $colors-map {
    --mvpb-color-#{$key}: #{$value};
  }
}

@each $key, $value in $colors-map {
  .color-#{$key} {
    color: var(--mvpb-color-#{$key});
  }

  .bg-color-#{$key} {
    background-color: var(--mvpb-color-#{$key});
  }
}
