@use "@/base/breakpoints.scss" as *;

:root {
  --mvpb--gutter-small: 1rem;
  --mvpb--gutter-medium: 2rem;
  --mvpb--gutter-large: 4rem;
  --mvpb--content-max-width: 1200px;
  --mvpb--content-max-width-small: 800px;
  --mvpb--content-max-width-large: 1400px;
}

.container,
.container-small,
.container-large,
.container--left,
.container--right,
.container-wide {
  width: 100%;
  padding-left: var(--mvpb--gutter-small);
  padding-right: var(--mvpb--gutter-small);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* On mobile all containers have same width */
.container,
.container-small,
.container-large,
.container-wide {
  max-width: 100%;
}

@media (min-width: breakpoint(tablet)) {
  .container,
  .container-small,
  .container-large,
  .container-wide {
    padding-left: var(--mvpb--gutter-medium);
    padding-right: var(--mvpb--gutter-medium);
  }

  /* Apply container max-widths only from tablet up */
  .container {
    max-width: var(--mvpb--content-max-width);
  }

  .container-small {
    max-width: var(--mvpb--content-max-width-small);
  }

  .container-large,
  .container-wide {
    max-width: var(--mvpb--content-max-width-large);
  }

  .container--left,
  .container--right {
    max-width: 75%;
  }

  .container--left {
    margin-left: var(--mvpb--gutter-medium);
    margin-right: auto;
  }

  .container--right {
    margin-right: var(--mvpb--gutter-medium);
    margin-left: auto;
  }
}

@media (min-width: breakpoint(desktop)) {
  .container,
  .container-small,
  .container-large,
  .container-wide {
    padding-left: var(--mvpb--gutter-large);
    padding-right: var(--mvpb--gutter-large);
  }

  .container--left {
    margin-left: var(--mvpb--gutter-large);
  }

  .container--right {
    margin-right: var(--mvpb--gutter-large);
  }
}
