.mvpb-rich-text {
  color: var(--default-font-color);

  :deep(h1) {
    font-size: calc(
      var(--mvpb-font-size-h1) * var(--richtext-font-size-multiplier, 1)
    );

    > b {
      font-family: var(--mvpb-font-primary-bold);
    }
  }
  :deep(h2) {
    font-size: calc(
      var(--mvpb-font-size-h2) * var(--richtext-font-size-multiplier, 1)
    );

    > b {
      font-family: var(--mvpb-font-primary-bold);
    }
  }
  :deep(h3) {
    font-size: calc(
      var(--mvpb-font-size-h3) * var(--richtext-font-size-multiplier, 1)
    );

    > b {
      font-family: var(--mvpb-font-primary-bold);
    }
  }
  :deep(h4) {
    font-size: calc(
      var(--mvpb-font-size-h4) * var(--richtext-font-size-multiplier, 1)
    );

    > b {
      font-family: var(--mvpb-font-primary-bold);
    }
  }
  :deep(h5) {
    font-size: calc(
      var(--mvpb-font-size-h5) * var(--richtext-font-size-multiplier, 1)
    );

    > b {
      font-family: var(--mvpb-font-primary-bold);
    }
  }
  :deep(h6) {
    font-size: calc(
      var(--mvpb-font-size-h6) * var(--richtext-font-size-multiplier, 1)
    );

    > b {
      font-family: var(--mvpb-font-primary-bold);
    }
  }
  :deep(p) {
    font-size: calc(
      var(--mvpb-font-size-p) * var(--richtext-font-size-multiplier, 1)
    );
  }
  :deep(p > b),
  :deep(p > strong) {
    font-family: var(--mvpb-font-primary-semi-bold);
  }
  :deep(li) {
    font-size: calc(
      var(--mvpb-font-size-li) * var(--richtext-font-size-multiplier, 1)
    );
    margin-bottom: 0;
  }
  :deep(a) {
    font-size: calc(
      var(--mvpb-font-size-a) * var(--richtext-font-size-multiplier, 1)
    );
  }
  :deep(*:last-child) {
    margin-bottom: 0;
  }
}
